<div id="statistics">
  <div class="w3-container w3-panel" id="tabHeadStatistics">
    <ul class="w3-navbar w3-light-grey">
      <li><a href="" ng-click="clickTab(0)" class="tablink w3-dark-grey">Energy</a></li>
      <li><a href="" ng-click="clickTab(1)" class="tablink">Trajectory</a></li>
      <li><a href="" ng-click="clickTab(2)" class="tablink">Power</a></li>
      <li><a href="" ng-click="clickTab(3)" class="tablink">Weather</a></li>
    </ul>
  </div>
  
      <div id="tab1" ng-show="tabs[0]" >
        <div id="graph1">
          <!--highchart id="chart1" config="chart1Config" class="highchart"></highchart-->
        </div>
      </div>
      <div id="tab2" ng-show="tabs[1]">
        <div id="graph2">
        </div>
      </div>
      <div id="tab3" ng-show="tabs[2]">
        <div id="graph3">
        </div>
      </div>
      <div id="tab4" ng-show="tabs[3]">
        <div id="graph4">
        </div>
      </div>

</div>
